body{
    font-family: 'Kanit', sans-serif;
    color: #5872f7;
}

.header{
    width: 100%;
    height: 85vh;
    background: #879afd;
    background-image: url("bg.png") center cover;
    background-image: linear-gradient(#879afd, #57bafb);
}
.header-txt{
    position: relative;
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    color: #fff;
    top: 45%;
}

nav {
    position: fixed;
    width: 100%;
    z-index:99;
}
  
nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: .5s;
}
  
nav.black ul {
    background: #7da1fc;
}
  
nav ul li {
    display: inline-block;
    padding: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

a:hover{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(206, 206, 206, 0.904);
}
  
/*Menu icon CSS*/
.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    font-family: 'Kanit', sans-serif;
}
  
/*Responsive design CSS*/
@media(max-width: 580px) {
    .logo {
      position: fixed;
      top: 0;
      margin-top: 16px;
      color:#fff;
    }
    
    nav ul {
      max-height: 0px;
      background: #879afd;
      color:#fff;
    }
    
    nav.black ul {
      background: #879afd;
      color:#fff;
    }
    
    .showing {
      max-height: 20em;
    }
    
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px 0px;
      text-align: center;
    }
    
    .menu-icon {
      display: block;
    }
  }

.motto{
    width: 50%;
    height: 15vh;
    margin: -3em auto 0 auto;
    padding: 1.5em;
    background: #fff;
    border-radius: .75em;
    box-shadow: 0px 0px 10px #57b9fbb7;
    text-align: center;
    font-size: 1.5em;
    color: #5872f7;
    font-family: 'Lobster', cursive;
}

.shape1{
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 99;
  opacity: .4;
  animation: shape1 10s infinite alternate;
}

@keyframes shape1{
  25% {background: #dfe38e;top: 0%;left: 0%;}
  50% {background: #efca8c;top: 50%;left: 20%;}
  75% {background: #f17e7e;top: 90%;left: 60%;}
  100% {background: #7fe7cc;top: 70%;left: 90%;}
}

.shapetxt{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: shapetxt 3s infinite alternate linear;
  opacity: .75;
  top: -50px;
}
.shapetxt2{
  position: relative;
  width: 50px;
  height: 50px;
  animation: shapetxt2 3.25s infinite alternate linear;
  opacity: .75;
  top: -50px;
  border-top: 60px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid blue;
  border-left: 30px solid transparent;
}

@keyframes shapetxt{
  0% {background: #f17e7e;left: 0%;top: -50px;}
  20% {background: #f17e7e;left: 20%;top: -70px;}
  40% {background: #dfe38e;left: 40%;top: -30px;}
  60% {background: #dfe38e;left: 60%;top: -10px;}
  80% {background: #7fe7cc;left: 80%;top: -40px;}
  100% {background: #7fe7cc;left: 90%;top: -70px;}
}

@keyframes shapetxt2{
  0% {border-bottom: 60px solid #679186;left: 0%;top: -120px;}
  20% {border-bottom: 60px solid #679186;left: 15%;top: -90px;}
  40% {border-bottom: 60px solid #264e70;left: 45%;top: -100px;}
  60% {border-bottom: 60px solid #264e70;left: 65%;top: -170px;}
  80% {border-bottom: 60px solid #ffebd3;left: 78%;top: -80px;}
  100% {border-bottom: 60px solid #ffebd3;left: 85%;top: -80px;}
}